/** Header **/

#site-navigation{
    left: 300px;

}

.site-header .cntr{
    z-index: 1;
}

.site-header .logo {
    transform: translateY(30px) !important;
}


.site-header .main-navigation {
    transform: none !important;
    margin: 0 !important;
    height: 101px;
}

.site-header .main-navigation ul.menu{
    height: 85px;
    margin-top: 25px;
}

.site-header ul.menu {
    position: relative;
    display: flex;
    list-style: none; 
    padding: 0; 
    margin: 0; 
    align-items: center; 
    width: 100%; 
}


.site-header{
    border-bottom: 1px solid #E3E3E3;
    min-height: 110px !important;
    height: 110px;
}


.site-header .main-navigation li {
    transition: none !important;
}


.site-header .main-navigation li:nth-last-child(-n+2) {
    margin-left: auto; /
}

.site-header .main-navigation li:nth-child(3) {
    flex: 1;
}

.site-header .main-navigation li > a {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000;
    padding: 15px 30px 45px 30px !important;
    margin-bottom: -5px;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid transparent;
}

.site-header .main-navigation li.active > a{
    color: #7132C4 !important;
    background-color: #FFFFFF;
    border-radius: 15px 15px 0 0;
    border: 1px solid #E9E5EE;
    border-bottom: 20px solid #FFFFFF;
    margin-top: 20px;
}

.site-header .main-navigation li.active > a:hover{
    text-decoration: underline;
}

.site-header .main-navigation li.menu-item-has-children a:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M10.5151 0.757324L5.75781 5.51465L1.00049 0.757324' stroke='%237C21CC' stroke-width='1.5'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat;
    border-bottom: 2px solid transparent;
    background-position: right;
    margin-bottom: -3px;
    margin-left: -2px !important;
    padding-bottom: 7px;
    padding-left: 15px;
    transition: none;
    transform: none;
}

.site-header .main-navigation li.active > a:hover:after {
    border-color: #7132C4 !important;
}

/* NS */

.site-header .main-navigation li.menu-item-has-children.active {
    padding-bottom: 4px !important;
}
/* NS */

.site-header ul.menu > li:hover > a{
    color: #7132C4 !important;
}
.site-header ul.menu > li > a{
    color: #000000 !important;
}


.site-header .main-navigation li.menu-item-has-children .sub-menu,
.site-header .main-navigation li.active .sub-menu {
    visibility: hidden !important;
    display: none !important;
	opacity: 0 !important;
}


.site-header ul.menu li a {
    transition: unset !important;
}

.site-header ul.menu > li.active:after{
    content: '';
    height: 12px;
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
}


/** Exception for blog posts **/
body.single-post .site-header{
    background-color: #fff !important;
} 

body.single-post .site-header .main-navigation li a {
    color: #000;
}

body.single-post .site-header .logo:before {
    background-image: url('logo-single-post.svg');
    background-position: -14px -18px;
}


body.single-post .site-header .logo:after {
    content: unset;
}

body.single-post .site-header.scrolled .logo {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: 0 0;
    transform: translateY(30px) !important;
}

body.single-post .site-header .logo:hover:before {
    opacity: 0.8;
}


@media only screen and (max-width: 992px) {
    body.single-post .site-header .mobmenu span {
        background: #7c21cc;
    }

    body.single-post .site-header.scrolled .logo {
        transform: translateY(17px) scale(1) !important;

    }

    body.single-post .site-header .logo {
        width: 65px!important;
        height: 40px!important;
        background-image: unset !important;
    }

    body.single-post .site-header .logo {
        max-width: 54px;
    }

    body.single-post .site-header .logo:hover:before {
        opacity: 1 !important;
    }

    body.single-post .site-header .mobmenu span:after, body.single-post .site-header .mobmenu span:before {
        background-color: #7c21cc !important;
    }

    /* Mobile menu */
    #site-navigation {
        border-top: 1px solid #E3E3E3;
    }
    .site-header ul.menu {
        flex-direction: column;
    }
    .site-header .main-navigation li.active > a {
        border: none;
    }
    .site-header .main-navigation li.menu-item-has-children.active {
        padding: 0 !important;
    }

    .site-header .main-navigation li.menu-item-has-children.active .sub-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .site-header .main-navigation li.menu-item-has-children .sub-menu li {
        height: unset !important;
    }

    ul.sub-menu li:first-child {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    
}

/** SubMenuWrapper **/

.site-header .subMenuWrapper{
    position: relative;
    top: 110px;
    max-height: 320px !important;
    background-color: #fff;
    z-index: 0;
    border: 1px solid #E9E5EE;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.08);
    max-width: 910px;
    max-height: 370px !important;
    border-radius: 0 0 15px 15px;
    display: flex;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.nested-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 52px 40px 20px 40px !important;
}

ul.nested-menu-has-children{
    display: flex;
    flex-direction: row !important;
    width: 100%;
    padding: 0 !important;
}

ul.nested-menu > li {
    padding-bottom: 10px;
}

ul.nested-menu > li.menu-item-has-children {
    padding: 52px 40px 20px 40px;
    max-height: 300px;
}

ul.nested-menu li.menu-item-has-children > a {
    font-size: 15px;
    font-weight: 700;
}

ul.nested-menu li.menu-item-has-children > a:hover  {
    color: #000;
    text-decoration: none !important;
}

ul.sub-menu li {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

ul.sub-menu li:first-child {
    margin-top: 10px;
    padding-top: 10px;
}



ul.nested-menu a {
    padding: 20px 0 !important;
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

ul.nested-menu a:hover {
    color: #7C21CC;
    text-decoration: underline;
}


ul.nested-menu > li.menu-item-has-children:nth-child(even) {
    background-color: #F8F6FE; 
}

img.menu-ad-image {
    border-radius: 0 0 15px;
}

.site-header .subMenuWrapper .subMenuIntroText {
    max-width: 910px;
    margin: 0 auto;
}


/* .site-header .subMenuWrapper:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 6px rgba(0,0,0,0.16);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16)); 
    z-index: -2;
} */

.site-header .subMenuWrapper{
    transition: unset;
}

.site-header .subMenuWrapper.active{
    visibility: visible;
	opacity: 1;
    transition: unset;
	/* animation-name: fadeIn; */
	/* animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s; */
}

.site-header .subMenuWrapper *{
    transition: unset;
}

.site-header .subMenuWrapper .subMenuIntroText .subMenuTitle{
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #7132c4;
    margin-bottom: 9px;
}

.site-header .subMenuWrapper .subMenuIntroText .subMenuText{
    max-width: 250px;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000;    
}


/** Menu Book Header **/

.site-header ul.menu {
    pointer-events: none;
}

.site-header ul.menu.loaded{
    pointer-events: all;
}

.site-header ul.menu > li > a#bookDemo{
    border-radius: 15px;
    background-color: #F91B61;
    padding: 0 40px !important;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #F91B61 !important;
}

.site-header ul.menu > li > a#bookDemo:hover{
    border: 2px solid #f91c61 !important;
    background-color: #fff !important;
    color: #f91c61 !important;
}

.site-header ul.menu > li > a#bookDemoMobile{
    height: 31px;
    border-radius: 12px;
    background-color: #f91c61;
    border: 2px solid #f91c61 !important;
    text-align: center;
    color: #fff !important;
}

.site-header ul.menu > li > a#bookDemoMobile{
    margin: 30px auto 0 auto !important;
}

.site-header ul.menu > li > a#bookDemo:hover{
    border: 2px solid #f91c61 !important;
    background-color: #fff !important;
    color: #f91c61 !important;
}

@media only screen and (max-width: 1530px) {
    .menu-main-menu-container {
        padding-right: 20px;
    }

}

@media only screen and (min-width: 1530px) {
    .site-header ul.menu > li > a#bookDemo{
        min-width: 180px;
    }
}

/** Scrolled **/
.site-header.scrolled .main-navigation {
    right: 0 !important;
}

/** Responsive **/
@media only screen and (max-width: 1400px) {
    ul.nested-menu a, .site-header .main-navigation li a {
        font-size: 16px !important;
    }

    .site-header .main-navigation ul.menu{
        margin-top: 15px;
    }
    
    .site-header ul.menu > li > a {
        padding: 30px 20px 45px 20px !important;
        border-bottom: 20px;
        margin-top: 10px;
    }
    
    .site-header ul.menu > li > a#bookDemo{
        padding: 0 20px !important;
        height: 42px;
        margin-top: -15px;
        font-size: 16px;
    }

    
}
/* 
@media only screen and (max-width: 1300px) {
    #site-navigation {
        left: 280px;
    }
    .site-header .main-navigation li a {
        font-size: 15px !important;
    }
    
    .site-header .subMenuWrapper .subMenuIntroText .subMenuText {
        font-size: 16px;
    }
    
    .site-header .main-navigation li.menu-item-has-children .sub-menu li a {
        height: 45px;
        padding: 0 12px;
    }
} */

@media only screen and (max-width: 1200px) {
    #site-navigation {
        left: 200px;
    }
    .site-header .main-navigation li a {
        font-size: 14px !important;
    }
    

    .site-header .subMenuWrapper .subMenuIntroText .subMenuText {
        font-size: 13px;
    }

    .site-header .subMenuWrapper .subMenuIntroText .subMenuText{
        max-width: 200px;   
    }

    .site-header .subMenuWrapper {
        padding-left: 10px;
    }
    
}

@media only screen and (max-width: 1100px) {
    #site-navigation {
        left: 150px;
    }

    .site-header .subMenuWrapper .subMenuIntroText .subMenuText{
        max-width: 150px;   
    }
    
}

@media only screen and (max-width: 1050px) {
    #site-navigation {
        left: 120px;
    }

    .site-header .subMenuWrapper .subMenuIntroText .subMenuText{
        display: none !important;  
    }
    
}

@media only screen and (max-width: 992px) {
    #site-navigation {
        left: 0;
        transition: unset !important;
    }

    .site-header .main-navigation li.menu-item-has-children .sub-menu {
        position: relative;
        top: 0!important;
    }

    .site-header ul.menu > li {
        float: unset !important;
    }

    .site-header .main-navigation {
        height: 100%;
    }
    
    .site-header .main-navigation ul.menu{
        height: 100%;
    }
    

    .site-header ul.menu > li > a {
        font-size: 20px !important;
        padding: 10px 0 !important;
        margin: 0 !important;
    }

    .site-header ul.menu > li {
        margin-bottom: 10px;
    }

    .site-header {
        min-height: 75px !important;
        height: 75px;
    }

    .site-header.scrolled ul.menu > li > a {
        padding: 10px 0 !important;
    }

    .site-header .main-navigation li.menu-item-has-children .sub-menu {
        padding-top: 0 !important;
    }

    .site-header .main-navigation li.menu-item-has-children .sub-menu,
    .site-header .main-navigation li.active .sub-menu {
        visibility: visible !important;
        display: block !important;
        opacity: 1 !important;
    }


    .site-header .main-navigation li.menu-item-has-children .sub-menu a {
        color: #000 !important;
        text-decoration: none !important;
        font-weight: normal !important;
        text-transform: capitalize;
    }

    ul#menu-main-menu li.menu-item-has-children ul.sub-menu li.menu-item-has-children > a {
        font-weight: 700 !important;
    }
}

@media (max-width: 991px) {

    .site-header .logo {
        transform: translateY(15px) !important;
    }

    .site-header.scrolled ul.menu > li > a {
        padding: 10px 0 !important;
    }

    .site-header .main-navigation.showMob li {
        transition-delay: 0s !important;
    }

    .site-header .main-navigation li.active .sub-menu {
        visibility: visible !important;
        opacity: 1 !important;
        animation-name: unset !important;
        animation-iteration-count: 0 !important;
        animation-timing-function: unset !important;
        animation-duration: 0s !important;
    }

    .site-header .main-navigation ul.menu *{
        transition: unset !important;
    }

    .site-header .main-navigation li.active .sub-menu *,
    .site-header .main-navigation li.active .sub-menu li,
    .site-header .main-navigation li.active .sub-menu li a{
        transition: unset !important;
    }
    

    .site-header .main-navigation li.menu-item-has-children .sub-menu li a img {
        margin-right: 10px;
        width: 23px;
        height: 23px;
    }

    .site-header .main-navigation li.menu-item-has-children .sub-menu li a {
        height: 33px !important;
        padding: 0 10px !important;
    }

    .site-header .main-navigation li.menu-item-has-children .sub-menu li.current-menu-item a {
        color: #fff;
    }

    .site-header .subMenuWrapper.active {
        display: none !important;
    }

    .site-header .main-navigation.showMob {
        transition-delay: 0s;
        height: 100vh;
        margin-top: 75px !important;
        padding: 0;
        overflow-y: auto;
    }

    .site-header .main-navigation.showMob ul.menu {
        padding: 0 0 75px 35px;
    }

    .site-header .main-navigation.showMob li.menu-item-has-children .sub-menu.active {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    .site-header .main-navigation.showMob li .sub-menu li {
        opacity: 1;
    }
}


/** Animation **/
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.site-header .subMenuWrapper{
    transition: all .2s ease-in-out;
    /*transition-duration: .25s;*/
}

.site-header .subMenuWrapper.active{
    transition: all .2s ease-in-out;
    /*transition-duration: .2s;*/
}

.site-header .main-navigation li.menu-item-has-children.active .sub-menu {
    transition: all .3s ease-in-out !important;
    /*transition-duration: .3s;*/
}

@media (max-width: 991px) {
    .site-header .main-navigation li.menu-item-has-children .sub-menu {
        transition: all .3s ease-in-out !important;
        /*transition-duration: .3s;*/
    }
}


