/** Header **/

#site-navigation{
    left: 300px;

}

.site-header .cntr{
    z-index: 1;
}

.site-header .logo {
    transform: translateY(30px) !important;
}


.site-header .main-navigation {
    transform: none !important;
    margin: 0 !important;
    height: 101px;
}

.site-header .main-navigation ul.menu{
    height: 85px;
    margin-top: 25px;
}

.site-header ul.menu {
    display: inline-block;
    width: 100%;
    margin: 0;
    position: relative;
}
  
.site-header ul.menu > li:not(:nth-last-child(2)):not(:nth-last-child(3)) {
    float:left;
}
  

.site-header ul.menu > li:nth-last-child(2){
    position: absolute;
    right: 40px;
    top: 28px;
} 

.site-header ul.menu > li:nth-last-child(3) {
    float: right;
    margin-right: 240px;
}


.site-header{
    border-bottom: 1px solid #E3E3E3;
    min-height: 110px !important;
    height: 110px;
}

.site-header ul.menu > li > a{
    /* height: 120px; */
    /* padding: 0px 45px !important; */
    /* padding: 20px 45px 39px 45px !important; */
}

.site-header .main-navigation li a{
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000;
}

/* .site-header .main-navigation .sub-menu li a{
    margin-bottom: 22px !important;
} */

.site-header .main-navigation li.active {
    background-color: #FFFFFF;
    border-radius: 15px 15px 0 0;
    border: 1px solid #E9E5EE;
    border-bottom: 25px solid #FFFFFF;
    transition: none;
}

.site-header .main-navigation li.active a{
    color: #7132C4 !important;
    text-decoration: underline;
}

.site-header .main-navigation li.menu-item-has-children a:after {
    margin-left: 10px !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.668' height='5.041' viewBox='0 0 8.668 5.041'%3E%3Cpath d='M-6535.111-8471.41l3.98,3.98,3.98-3.98' transform='translate(6535.465 8471.764)' fill='none' stroke='%23000' stroke-width='1'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat;
}

.site-header .main-navigation li.menu-item-has-children.active a:after {
    transform: rotate(180deg);
    filter: invert(23%) sepia(39%) saturate(5465%) hue-rotate(258deg) brightness(83%) contrast(91%);
}

/* NS */

.site-header .main-navigation li.menu-item-has-children.active {
    
}
/* NS */

.site-header ul.menu > li:hover > a{
    color: #7132C4 !important;
}
.site-header ul.menu > li > a{
    color: #000000 !important;
}


.site-header .main-navigation li.menu-item-has-children .sub-menu,
.site-header .main-navigation li.active .sub-menu {
    visibility: hidden !important;
    display: none !important;
	opacity: 0 !important;
}


.site-header ul.menu li a {
    transition: unset !important;
}

.site-header ul.menu > li.active:after{
    content: '';
    height: 12px;
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
}


/** Exception for blog posts **/
body.single-post .site-header{
    background-color: #fff !important;
} 

body.single-post .site-header .main-navigation li a {
    color: #000;
}

body.single-post .site-header .logo:before {
    background-image: url('logo-single-post.svg');
    background-position: -14px -18px;
}


body.single-post .site-header .logo:after {
    content: unset;
}

body.single-post .site-header.scrolled .logo {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: 0 0;
    transform: translateY(30px) !important;
}

body.single-post .site-header .logo:hover:before {
    opacity: 0.8;
}


@media only screen and (max-width: 992px) {
    body.single-post .site-header .mobmenu span {
        background: #7c21cc;
    }

    body.single-post .site-header.scrolled .logo {
        transform: translateY(17px) scale(1) !important;

    }

    body.single-post .site-header .logo {
        width: 65px!important;
        height: 40px!important;
        background-image: unset !important;
    }

    body.single-post .site-header .logo {
        max-width: 54px;
    }

    body.single-post .site-header .logo:hover:before {
        opacity: 1 !important;
    }

    body.single-post .site-header .mobmenu span:after, body.single-post .site-header .mobmenu span:before {
        background-color: #7c21cc !important;
    }
}

/** SubMenuWrapper **/

.site-header .subMenuWrapper{
    position: relative;
    top: 110px;
    min-height: 320px !important;
    background-color: #fff;
    z-index: 0;
    border: 1px solid #E9E5EE;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.08);
    max-width: 910px;
    max-height: 370px !important;
    border-radius: 0 0 15px 15px;
    display: flex;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.nested-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

ul.nested-menu li.nested-menu-item {
    flex: 1;
}

ul.nested-menu > li.nested-menu-item:nth-child(even) {
    background-color: #F8F6FE; 
}


.site-header .subMenuWrapper .subMenuIntroText {
    max-width: 910px;
    margin: 0 auto;
}


/* .site-header .subMenuWrapper:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 6px rgba(0,0,0,0.16);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16)); 
    z-index: -2;
} */

.site-header .subMenuWrapper{
    transition: unset;
}

.site-header .subMenuWrapper.active{
    visibility: visible;
	opacity: 1;
    transition: unset;
	/* animation-name: fadeIn; */
	/* animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s; */
}

.site-header .subMenuWrapper *{
    transition: unset;
}

.site-header .subMenuWrapper .subMenuIntroText .subMenuTitle{
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #7132c4;
    margin-bottom: 9px;
}

.site-header .subMenuWrapper .subMenuIntroText .subMenuText{
    max-width: 250px;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000;    
}


/** Menu Book Header **/

.site-header ul.menu {
    pointer-events: none;
}

.site-header ul.menu.loaded{
    pointer-events: all;
}

.site-header ul.menu > li > a#bookDemo{
    width: 180px;
    height: 41px;
    border-radius: 12px;
    background-color: #f91c61;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f91c61 !important;
}

.site-header ul.menu > li > a#bookDemo:hover{
    border: 2px solid #f91c61 !important;
    background-color: #fff !important;
    color: #f91c61 !important;
}

.site-header ul.menu > li > a#bookDemoMobile{
    width: 180px;
    height: 31px;
    border-radius: 12px;
    background-color: #f91c61;
    border: 2px solid #f91c61 !important;
    text-align: center;
    color: #fff !important;
}

.site-header ul.menu > li > a#bookDemoMobile{
    margin: 30px auto 0 auto !important;
}

.site-header ul.menu > li > a#bookDemo:hover{
    border: 2px solid #f91c61 !important;
    background-color: #fff !important;
    color: #f91c61 !important;
}



/** Scrolled **/
.site-header.scrolled .main-navigation {
    right: 0 !important;
}

/** Responsive **/
@media only screen and (max-width: 1400px) {
    .site-header .main-navigation li a {
        font-size: 16px !important;
    }

    
    .site-header ul.menu > li > a {
        padding: 40px 0 38px !important;
        margin: 0 10px;
    }
    

    .site-header .subMenuWrapper .subMenuIntroText .subMenuText {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1300px) {
    #site-navigation {
        left: 280px;
    }
    .site-header .main-navigation li a {
        font-size: 15px !important;
    }
    
    .site-header ul.menu > li > a {
        padding: 40px 0 38px !important;
        margin: 0 10px;
    }
    

    .site-header .subMenuWrapper .subMenuIntroText .subMenuText {
        font-size: 16px;
    }
    
    .site-header .main-navigation li.menu-item-has-children .sub-menu li a {
        height: 45px;
        padding: 0 12px;
    }
}

@media only screen and (max-width: 1200px) {
    #site-navigation {
        left: 200px;
    }
    .site-header .main-navigation li a {
        font-size: 14px !important;
    }
    

    .site-header .subMenuWrapper .subMenuIntroText .subMenuText {
        font-size: 13px;
    }

    .site-header .subMenuWrapper .subMenuIntroText .subMenuText{
        max-width: 200px;   
    }

    .site-header .subMenuWrapper {
        padding-left: 10px;
    }
    
}

@media only screen and (max-width: 1100px) {
    #site-navigation {
        left: 150px;
    }

    .site-header .subMenuWrapper .subMenuIntroText .subMenuText{
        max-width: 150px;   
    }
    
}

@media only screen and (max-width: 1050px) {
    #site-navigation {
        left: 120px;
    }

    .site-header .subMenuWrapper .subMenuIntroText .subMenuText{
        display: none !important;  
    }
    
}

@media only screen and (max-width: 992px) {
    #site-navigation {
        left: 0;
        transition: unset !important;
    }

    .site-header .main-navigation li.menu-item-has-children .sub-menu {
        position: relative;
        top: 0!important;
    }

    .site-header ul.menu > li {
        float: unset !important;
    }

    .site-header .main-navigation {
        height: 100%;
    }
    
    .site-header .main-navigation ul.menu{
        height: 100%;
    }
    

    .site-header ul.menu > li > a {
        font-size: 20px !important;
        padding: 10px 0 !important;
        margin: 0 !important;
    }

    .site-header ul.menu > li {
        margin-bottom: 10px;
    }

    .clearHeader .site-header .main-navigation li.menu-item-has-children .sub-menu a {
        color: #999;
    }

    .site-header ul.menu > li:nth-last-child(2){
        display: none;
        float: left;
    } 

    .site-header ul.menu > li:nth-last-child(3) {
        float: left;
        margin-right: 0;
    }

    .site-header {
        min-height: 75px !important;
        height: 75px;
    }

    .site-header.scrolled ul.menu > li > a {
        padding: 10px 0 !important;
    }
    
}

@media (max-width: 991px) {

    .site-header .logo {
        transform: translateY(15px) !important;
    }

    .site-header.scrolled ul.menu > li > a {
        padding: 10px 0 !important;
    }

    .site-header .main-navigation.showMob li {
        transition-delay: 0s !important;
    }

    .subMenuWrapper {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
    }

    .site-header .main-navigation li.active .sub-menu {
        visibility: visible !important;
        opacity: 1 !important;
        animation-name: unset !important;
        animation-iteration-count: 0 !important;
        animation-timing-function: unset !important;
        animation-duration: 0s !important;
    }

    .site-header .main-navigation ul.menu *{
        transition: unset !important;
    }

    .site-header .main-navigation li.active .sub-menu *,
    .site-header .main-navigation li.active .sub-menu li,
    .site-header .main-navigation li.active .sub-menu li a{
        transition: unset !important;
    }
    

    .site-header .main-navigation li.active .sub-menu li a {
        height: 40px;
        margin: 5px 0 !important;
        padding: 7px 10px !important;
    }

    .site-header .main-navigation li.menu-item-has-children .sub-menu li a img {
        margin-right: 10px;
        width: 23px;
        height: 23px;
    }

    /*
    #site-navigation{
        height: 100vh;
        overflow-y: auto;
    }
    */

    .site-header .main-navigation li.menu-item-has-children .sub-menu li {
        float: unset !important;
        height: 40px !important;
        margin-top: 5px;
    }

    .site-header .main-navigation li.menu-item-has-children .sub-menu li a {
        height: 33px !important;
        padding: 0 10px !important;
    }

    .site-header .main-navigation li.menu-item-has-children .sub-menu li.current-menu-item a {
        color: #fff;
    }

    .site-header .subMenuWrapper.active {
        display: none !important;
    }

    .site-header .main-navigation.showMob {
        transition-delay: 0s;
        height: 100vh;
        margin-top: 75px !important;
        padding: 0;
        overflow-y: auto;
    }

    .site-header .main-navigation.showMob ul.menu {
        padding: 0 0 75px 35px;
    }

    .site-header .main-navigation li.menu-item-has-children .sub-menu {
        padding-top: 15px;
    }



/* 
    .site-header .main-navigation.showMob {
        background: #fff;
        transform: translateY(0);
        transition-delay: 0s;
        z-index: 1000;
        height: 100vh;
        padding: 75px 25px;
        overflow-y: hidden;
    }

    .site-header .main-navigation > div{
        display: none;
    }

    .site-header .main-navigation.showMob > div {
        display: block;
        height: 100vh;
        overflow-y: auto;
    } */

    .site-header .main-navigation.showMob li:hover .sub-menu {
        display: none;
    }

    .site-header .main-navigation.showMob li.menu-item-has-children .sub-menu.active {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    .site-header .main-navigation.showMob li .sub-menu li {
        opacity: 1;
    }
}


/** Animation **/
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.site-header .subMenuWrapper{
    transition: all .2s ease-in-out;
    /*transition-duration: .25s;*/
}

.site-header .subMenuWrapper.active{
    transition: all .2s ease-in-out;
    /*transition-duration: .2s;*/
}

.site-header .main-navigation li.menu-item-has-children.active .sub-menu {
    transition: all .3s ease-in-out !important;
    /*transition-duration: .3s;*/
}

@media (max-width: 991px) {
    .site-header .main-navigation li.menu-item-has-children .sub-menu {
        transition: all .3s ease-in-out !important;
        /*transition-duration: .3s;*/
    }
}


